
.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(67, 213, 246);
  /* color: black; */
  /* background-image: url("./images/bg.jpg");
  background-repeat: no-repeat;
  background-size:contain; */
  padding: 15px;
  font-size: 2em;
  /* height: 500px;
  width: 1000px; */
  
}

.nav a {
  color: white;
  text-decoration: none;
}

h2{
  text-align: center;
  
  color: rgb(67, 213, 246);
  width: 100%;
}

.photo-title {
  text-align: center;
  padding: 5px;
  margin: 5px;
  color: rgb(67, 213, 246)
}


p{
  text-align: center;
  color: rgb(67, 213, 246);
}

.photo{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.like{
  width:45px;

}
.photo-details{
  /* border: 2px solid rgb(67, 207, 246);
  display:flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 200px;
  border-radius: 150px;
  box-sizing:content-box;
  background-color:grey; */
}

 img {
  /* position: relative; */
  /* -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-width: 25px;
  -moz-column-width: 25px; */
  width:400px;
  height: 400px;
  object-fit: cover;
  
  /* column-width: 5px;
  padding: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  margin: 15px;
  padding: 25px; */
}

.collection-img:hover {
  /* transform: scale(1.2) rotate(1deg); */
  filter:opacity(0.8);
  box-shadow: 3px 10px 10px rgba(0, 0, 0.8);
  }

.collection-img{
  margin: 5px;
  padding: 5px;
  border: 3px solid rgb(67, 213, 246);
  box-sizing: border-box;
  transition: all 0.2s ease-in;
  /* width: 400px;
  height: 400px; */
  /* margin-left: 10px;
  margin-bottom: 10px; */
}

.home-img{
  margin: 5px;
  padding: 5px;
  border: 3px solid rgb(67, 213, 246);
  box-sizing: border-box;
  transition: all 0.2s ease-in;
}

.myphoto-img{
  margin: 5px;
  padding: 5px;
  /* border: 3px solid rgb(67, 213, 246); */
  box-sizing: border-box;
  transition: all 0.2s ease-in;
}

.home-img:hover{
  box-shadow: 3px 10px 10px rgba(0, 0, 0.8);
  filter:opacity(0.8);
}

.collection-container{
  /* -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-width: 25px;
  -moz-column-width: 25px;
   width: 100px;
  height: 100px;
  column-width: 5px;
  padding: 2px; */

  display:flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
  /* margin: 30px;
  padding: 20px; */
}



.search-container{
  /* display: inline-block; */
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 3px solid rgb(44, 174, 234);
  border-radius: 15px;
  height: 30px;
  width:300px;
  padding: 0px 10px;
}

.title{
  /* position:relative;
  top:-50px;
  justify-content: center;
  text-align: center;
  align-items: center; */
  margin-top: 0;
  /* transform: translate(-50%, -50%); */
  font-size: 80px;
  -webkit-text-stroke: 1px rgb(67, 213, 246);
  color: transparent; 
   /* background-image: linear-gradient(#b10101 #b10101); */
   background: url(images/title.jpg);
  /* background-repeat: no-repeat; */
  -webkit-background-clip: text;
  /* background-position: 0 0; */
  animation:backcolor 50s linear infinite;  
}
@keyframes backcolor{
  100%{
    background-position: 2000px 0;
  }
}

.bubbles img{
  width: 70px;
  height: 70px;
  animation: bubble 7s linear infinite;
}

.bubbles{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -80px;
}

@keyframes bubble{
  0%{
    /* transform: translateY(0); */
    opacity: 4;
  }
  50%{
    /* transform: translateY(0); */
    opacity: 6;
  }
  75%{
    /* transform: translateY(0); */
    opacity: 5;
  }
  100%{
    transform: translateY(-80vh);
    opacity: 0;
  }

}

.bubbles img:nth-child(1){
  animation-delay: 2s;
  width: 25px;
  height: 25px;
}
.bubbles img:nth-child(2){
  animation-delay: 0.5s;
  width: 45px;
  height: 45px;
}
.bubbles img:nth-child(3){
  animation-delay: 3s;
  width: 30px;
  height: 30px;
}
.bubbles img:nth-child(4){
  animation-delay: 5s;
  width: 30px;
  height: 30px;
}
.bubbles img:nth-child(5){
  animation-delay: 4s;
  width: 35px;
  height: 35px;
}
.bubbles img:nth-child(6){
  animation-delay: 2.5s;
  width: 30px;
  height: 30px;
}
.bubbles img:nth-child(7){
  animation-delay: 1.5s;
  width: 15px;
  height: 15px;
}
.bubbles img:nth-child(8){
  animation-delay: 3s;
  width: 40px;
  height: 40px;
}


.home-container {

  height: 100vh;
  display: flex;

  /* Direction of the items, can be row or column */
  flex-direction: column;

  /* position: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px; */
  /* background-image: url("./images/bg.jpg");
  background-repeat: no-repeat;
  background-size:contain; */
  /* display: inline-block;
  position: relative; */
  /* height: 350px; */
  /* background-position:top; */
  
}

.logo{
  width:150px;
  height:150px;
}

h1{
  text-align: center;
  color: rgb(67, 213, 246);
}


.header  {
  display: flex;
  height: 110px;
  align-items: center;
  justify-content: center;
}

.search {
  display: flex;
  height: 110px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 35px;
}


.body  {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

.header h1 {
  float: left;
  margin-left: 20px;
  margin-top: 55px;
}
