
.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(67, 213, 246);
  /* color: black; */
  /* background-image: url("./images/bg.jpg");
  background-repeat: no-repeat;
  background-size:contain; */
  padding: 15px;
  font-size: 2em;
  /* height: 500px;
  width: 1000px; */
  
}

.nav a {
  color: white;
  text-decoration: none;
}

h2{
  text-align: center;
  color: rgb(67, 213, 246);
}
 img {
  /* position: relative; */
  /* -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-width: 25px;
  -moz-column-width: 25px; */
  width:400px;
  height: 400px;
  object-fit: cover;
  
  /* column-width: 5px;
  padding: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  margin: 15px;
  padding: 25px; */
}

img:hover {
  transform: scale(1.2) rotate(1deg);
  box-shadow: 3px 10px 10px rgba(0, 0, 0.8);
  /* filter:opacity(0.8); */
}

.img-row{
  margin: 5px;
  padding: 5px;
  border: 3px solid rgb(67, 213, 246);
  box-sizing: border-box;
  transition: all 0.2s ease-in;
  /* width: 400px;
  height: 400px; */
  /* margin-left: 10px;
  margin-bottom: 10px; */
}

.collection-container{
  /* -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-width: 25px;
  -moz-column-width: 25px;
   width: 100px;
  height: 100px;
  column-width: 5px;
  padding: 2px; */

  display:flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
  /* margin: 30px;
  padding: 20px; */
}


.home-container {
  /* background-image: url("./images/bg.jpg");
  background-repeat: no-repeat;
  background-size:contain; */
  /* display: inline-block;
  position: relative; */
  /* height: 350px; */
  /* background-position:top; */
  
}

.search-container{
  position: relative;
  top: 30px;
  left:550px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid rgb(44, 174, 234);
  border-radius: 5px;
  box-sizing: border-box;
  outline:none;
  height: 50px;
  width:300px;
  padding: 0px 10px;
  margin: 25px;
}

.title{
  justify-content: center;
  text-align: center;
  align-items: center;
  /* transform: translate(-50%, -50%); */
  font-size: 100px;
  -webkit-text-stroke: 1px rgb(67, 213, 246);
  color: transparent; 
   /* background-image: linear-gradient(#b10101 #b10101); */
   background: url(images/title.jpg);
  /* background-repeat: no-repeat; */
  -webkit-background-clip: text;
  background-position: 0 0;
  animation:backcolor 50s linear infinite;  
}
@keyframes backcolor{
  100%{
    background-position: 2000px 0;
  }
}
